@import "tailwindcss";

:root {
  --background: #080808;
  --foreground: #f1efe9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  background: #080808;
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
